@inherits LayoutComponentBase

<div class="dark">
    <div class="bg-background-light dark:bg-[#0a110e] font-display text-slate-900 dark:text-slate-100 min-h-screen ai-network-bg">
        <div class="relative flex min-h-screen w-full flex-col overflow-x-hidden">
            @Body
        </div>
    </div>
</div>
